[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

django = "*"
djangorestframework = "*"
dj-database-url = "*"
"psycopg2" = "*"
gunicorn = "*"
whitenoise = "*"
django-heroku = "*"
django-filter = "*"


[requires]

python_version = "3.6"
